<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/" lang="en">
<div th:insert="header">...</div>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper full-calender">
                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Add Equb Type</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a th:href="@{index}"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a>Equb Type</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{#}">Add Equb Type</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                </div>
                                <div class="card-block">
                                    <form id="main" method="POST" th:action="@{/equb-type-form}" th:object="${equbType}" enctype="multipart/form-data">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-8">
                                                <select th:field="*{name}" class="form-control" required="">
                                                    <option value="">-- Select One -- </option>
                                                    <option value="DAILY">DAILY</option>
                                                    <option value="WEEKLY">WEEKLY</option>
                                                    <option value="MONTHLY">MONTHLY</option>
                                                </select>
                                                <span class="messages"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Number of Days</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" th:field="*{numberOfDays}" value="">
                                                <span class="messages"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2"></label>
                                            <div class="col-sm-10">
                                                <button type="submit" name="btn_submit" class="btn btn-primary m-b-0">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:insert="footer :: .footer">...</div>
<!--<?php include('footer.php');?>-->

<!-- End footer -->
</div>
<!-- End Page wrapper  -->
</div>



<script type="text/javascript" th:src="@{~/files/bower_components/jquery/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{~/files/bower_components/jquery-ui/js/jquery-ui.min.js}"></script>

<script type="text/javascript" th:src="@{~/files/bower_components/popper.js/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{~/files/bower_components/bootstrap/js/bootstrap.min.js}"></script>




<script th:src="@{~/files/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>



<script th:src="@{~/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{~/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{~/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

<script th:src="@{~/files/assets/pages/data-table/js/data-table-custom.js}"></script>


<script th:src="@{~/files/assets/js/pcoded.min.js}"></script>

<script th:src="@{~/files/assets/js/vartical-layout.min.js}"></script>
<script th:src="@{~/files/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{~/files/assets/js/jquery.mousewheel.min.js}"></script>

<script type="text/javascript" th:src="@{~/files/assets/js/script.min.js}"></script>
<script type="text/javascript" th:src="@{~/files/assets/js/script.js}"></script>

<script th:src="@{~/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js}"></script>


</body>


</html>




<link rel="stylesheet" th:href="@{~/files/bower_components/chartist/css/chartist.css}" type="text/css" media="all">
<!-- Chartlist charts -->
<script th:src="@{~/files/bower_components/chartist/js/chartist.js}"></script>
<script th:src="@{~/files/assets/pages/chart/chartlist/js/chartist-plugin-threshold.js}"></script>
